body {
	margin:1in;
	margin-right:1.75in;
	background-color: white;
	color: black;
	font-size: 12pt;
}
  .dark-mode {
	background-color: black;
	color: pink;
	
  }
  .light-mode {
	background-color: white;
	color: black;
  }